.newProduct {
    flex: 4;
    padding: 20px;

    .addProductForm {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        .addProductItem {
            width: 400px;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            padding: 20px;

            > label {
                color: gray;
                font-weight: 600;
                margin-bottom: 10px;
            }

            > input {
                padding: 10px;
            }

            > select {
                padding: 10px;
            }
        }
    }

    .addProductButton {
        height: 30px;
        margin-top: 10px;
        padding: 7px 10px;
        border: none;
        border-radius: 10px;
        background-color: darkBlue;
        color: white;
        font-weight: 600;
        align-self: center;
        cursor: pointer;
    }
}